{% extends "layout.html" %}
<!--  -->
{% block content %}
<main>
  <section
    class="sm:px-4 pb-10 md:pb-20 xl:pb-32 pt-8 md:pt-20 overflow-x-clip"
  >
    <div class="container mx-auto space-y-12">
      <div
        class="px-4 py-6 sm:p-8 md:p-12 lg:p-16 sm:rounded-[3rem] bg-opacity-50 bg-white border border-gray-300 relative space-y-8 xl:space-y-14"
      >
        <div class="space-y-4">
          <h1 class="text-black font-bold text-2xl lg:text-3xl">
            FX VPS Pricing ( Fully Managed)
          </h1>
          <p class="text-base md:text-lg text-black !leading-[1.6]">
            FX VPS Pro is highly proficient and experienced in this industry &
            we know what exactly a forex trader wants. That’s why we have
            various types of planning option to meet different kind of needs.
            So, think & decide your choice from the hardware & technical
            features organized in the following pricing models.
          </p>
        </div>
        <div class="space-y-6 md:space-y-10">
          <h2 class="text-xl md:text-2xl font-bold">
            Forex Pro VPS - Regular ( Windows OS)
          </h2>
          <table class="w-full rounded-[2rem] overflow-hidden border-collapse">
            <thead>
              <tr
                class="bg-secondary bg-opacity-10 hidden xl:flex flex-col xl:flex-row"
              >
                <th
                  class="flex items-center justify-center xl:justify-start text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:pl-8"
                >
                  Plan Name
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  RAM
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Instances
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Disk Space
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  CPU
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Price <br />
                  1/M
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Price <br />
                  3/M
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Price <br />
                  6/M
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Price <br />
                  12/M
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:px-5 text-center"
                >
                  Price <br />
                  24/M
                </th>
                <th
                  class="flex items-center justify-center text-black font-bold xl:basis-[10%] py-3 xl:py-8 text-base xl:pr-8 text-center"
                >
                  Order VPS
                </th>
              </tr>
            </thead>
            <tbody>
              {% for package in packages %}
              <tr
                class="odd:bg-primary pb-2 xl:pb-0 odd:bg-opacity-20 even:bg-opacity-10 even:bg-secondary flex flex-col xl:flex-row"
              >
                <td
                  class="flex justify-center xl:justify-start items-center text-black xl:basis-[10%] py-2 xl:py-6 text-sm xl:pl-8"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Plan Name:</span
                  >
                  {{ package.name }}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden">RAM:</span>
                  {{ package.ram }}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Instances:</span
                  >
                  {{ package.instances }}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Disk Space:</span
                  >
                  {{ package.disk_space }}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden">CPU:</span>
                  {{ package.cpu }}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Price 1/M:</span
                  >
                  {% if package.price_1m %}${{ package.price_1m }}/M
                  <!--  -->
                  {% else %}-{% endif %}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Price 3/M:</span
                  >
                  {% if package.price_3m %}${{ package.price_3m }}/M
                  <!--  -->
                  {% else %}-{% endif %}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Price 6/M:</span
                  >
                  {% if package.price_6m %}${{ package.price_6m }}/M
                  <!--  -->
                  {% else %}-{% endif %}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Price 12/M:</span
                  >
                  {% if package.price_12m %}${{ package.price_12m }}/M
                  <!--  -->
                  {% else %}-{% endif %}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <span class="text-base font-bold pr-2 xl:hidden"
                    >Price 24/M:</span
                  >
                  {% if package.price_24m %}${{ package.price_24m }}/M
                  <!--  -->
                  {% else %}-{% endif %}
                </td>

                <td
                  class="flex justify-center text-black items-center text-center xl:basis-[10%] py-2 xl:py-6 text-sm xl:px-5"
                >
                  <div class="flex justify-center items-center">
                    <span class="text-base font-bold pr-2 xl:hidden"
                      >Order VPS:</span
                    >

                    <form method="post" action="{% url 'add_to_cart' %}">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="package_id"
                        value="{{ package.id }}"
                      />
                      <input type="hidden" name="billing_cycle" value="1m" />

                      <button
                        type="submit"
                        class="text-sm text-white bg-secondary rounded-full px-6 py-2 hover:bg-opacity-80"
                      >
                        {% if package.name|lower == "custom" %} Configure
                        <!--  -->
                        {% else %} Order {% endif %}
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr class="flex justify-center py-8">
                <td colspan="11" class="text-center text-gray-600">
                  No packages available yet.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}
